<!DOCTYPE html>
<html lang="en">
   

{% if dessert %}

<p><strong>{{dessert.name}}</strong> successfully created! Add another below.</p>
<p><a href="/">Back to List</a></p>

{% endif %}


<!-- The form action and method correspond to a Flask route -->
<form action="/add" method="POST">

<label for="name_id">ID&emsp;&emsp;</label>
<input id="name_id" name="name_field" type="text" /><br>

<label for="price_id">Price&emsp;&emsp;</label>
<input id="price_id" name="price_field" type="text"  /><br>


<label for="website_id">Website&emsp;&emsp;</label>
<input id="website_id" name="website_field" type="text"  /><br>

<label for="status_id">Status</label>
<input id="status_id" name="status_field" type="text"  /><br>

<label for="introduce_id">Introduction</label>
<input id="introduce_id" name="introduce_field" type="text"  /><br>

<label for="time_id">Production Time</label>
<input id="time_id" name="time_field" type="text"  /><br>

<label for="industry_id">Industry</label>
<input id="industry_id" name="industry_field" type="text"  /><br>


<!-- We need a submit button to submit a form! -->
<input class="read_more" type="submit" value="ADD"/>
      <br><br><br>
   <div class="read_more"  href="/" > <a href="/"> back </a></div>

</form>
</html>
