<!DOCTYPE html>
<html lang="en">

<form method="POST">
               <input class="search_input" id="identifier" name="identifier" type="text" placeholder="Please input your id to query."/>
                <br><br>
                <div style="text-align: center;"><input class="read_more" align="center" id="search" name="search"
                                                        type="submit" value="Submit"></div>
</form>
<div class="domain-price">
    <ul>
        {% for dessert in desserts %}
            <li>{{ dessert.identifier }} - ${{ dessert.price }}, {{ dessert.info }}
        {% endfor %}

        <div style="text-align: center;"><a href="/add" class="read_more">Add item</a>
    </ul>
</div>

</html>
